{% extends 'layout.html' %}

{% block title %}
	{{ title }}
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/static/templates/styles/category.css">
	<link rel="stylesheet" type="text/css" href="/static/templates/styles/category_responsive.css">
{% endblock %}
	<!-- Home -->

{% block home %}
	<div class="home">
		<div class="home_background parallax-window"
			 data-parallax="scroll" data-image-src="{{articles[1].image_url}}"
			 data-speed="0.8"></div>
	</div>
{% endblock %}
	

				<!-- Main Content -->
{% block content %}
	<div class="col-lg-9">
		<div class="main_content">

			<!-- Category -->

			<div class="category">
				<div class="section_content">
					<div class="grid clearfix" hidden="true">

						<!-- Small Card With Image -->
						<!-- Small Card Without Image -->
						<div class="card card_default card_small_no_image grid-item">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="/articles/{{articles[0].uid}}">{{articles[0].title}}</a></div>
								<small class="post_meta"><a
										href="/sources/{{articles[0].source.uid}}">{{articles[0].source.title}}</a><span>{{articles[0].created_at | format_date}}</span></small>
							</div>
						</div>

						{% for article in articles[1:20] %}
							<div class="card card_small_with_image grid-item">
								<img class="card-img-top"
									 src="{{article.image_url}}"
									 alt="">
								<div class="card-body">
									<div class="card-title card-title-small"><a href="/articles/{{article.uid}}">{{article.title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{article.source.uid}}">{{article.source.title}}</a><span>{{article.created_at | format_date}}</span></small>
								</div>
							</div>
						{% endfor %}
					</div>


					<div class="grid clearfix">

						<!-- Small Card With Image -->
						<div class="card card_small_with_image grid-item">
							<img class="card-img-top"
								 src="{{articles[0].image_url}}" alt="">
							<div class="card-body">
								<div class="card-title card-title-small"><a
										href="/articles/{{articles[0].uid}}">
									{{articles[0].title}}</a></div>
								<small class="post_meta"><a
										href="/sources/{{articles[0].source.uid}}">
									{{articles[0].source.title}}</a><span>{{articles[0].created_at |
									format_date}}</span></small>
							</div>
						</div>

						<!-- Small Card Without Image -->
						{% if calculate_length(articles) >= 2 %}
							<div class="card card_default card_small_no_image grid-item">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[1].uid}}">
										{{articles[1].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[1].source.uid}}">
										{{articles[1].source
										.title}}</a><span>{{articles[1].created_at | format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card With Image -->
						{% if calculate_length(articles) >= 3 %}
							<div class="card card_small_with_image grid-item">
								<img class="card-img-top"
									 src="{{articles[2].image_url}}" alt="">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[2].uid}}">
										{{articles[2].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[2].source.uid}}">
										{{articles[2].source.title}}</a><span>
										{{articles[2].created_at |format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card With Image -->
						{% if calculate_length(articles) >= 4 %}
							<div class="card card_small_with_image grid-item">
								<img class="card-img-top"
									 src="{{articles[3].image_url}}" alt="">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[3].uid}}">
										{{articles[3].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[3].source.uid}}">
										{{articles[3].source.title}}</a><span>
										{{articles[3].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card With Background -->
						{% if calculate_length(articles) >= 5 %}
							<div class="card card_default card_small_with_background grid-item">
								<div class="card_background"
									 style="background-image:url({{articles[4].image_url}})"></div>
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[4].uid}}">
										{{articles[4].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[4].source.uid}}">
										{{articles[4].source.title}}</a><span>
										{{articles[4].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card With Background -->
						{% if calculate_length(articles) >= 6 %}
							<div class="card card_default card_small_with_background grid-item">
								<div class="card_background"
									 style="background-image:url({{articles[5].image_url}})"></div>
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[5].uid}}">
										{{articles[5].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[5].source.uid}}">
										{{articles[5].source.title}}</a><span>
										{{articles[5].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card With Image -->
						{% if calculate_length(articles) >= 7 %}
							<div class="card card_small_with_image grid-item">
								<img class="card-img-top"
									 src="{{articles[6].image_url}}" alt="">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[6].uid}}">
										{{articles[6].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[6].source.uid}}">
										{{articles[6].source.title}}</a><span>
										{{articles[6].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card Without Image -->
						{% if calculate_length(articles) >= 8 %}
							<div class="card card_default card_small_no_image grid-item">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="articles/{{articles[7].uid}}">
										{{articles[7].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[7].source.uid}}">
										{{articles[7].source.title}}</a><span>
										{{articles[7].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card Without Image -->
						{% if calculate_length(articles) >= 9 %}
							<div class="card card_default card_small_no_image grid-item">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="articles/{{articles[8].uid}}">
										{{articles[8].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[8].source.uid}}">
										{{articles[8].source.title}}</a><span>
										{{articles[8].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Default Card With Background -->
						{% if calculate_length(articles) >= 10 %}
							<div class="card card_default card_default_with_background grid-item">
								<div class="card_background"
									 style="background-image:url({{articles[9].image_url}})"></div>
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[9].uid}}">
										{{articles[9].title}}</a></div>
								</div>
							</div>
						{% endif %}

						<!-- Default Card With Background -->
						{% if calculate_length(articles) >= 11 %}
							<div class="card card_default card_default_with_background grid-item">
								<div class="card_background"
									 style="background-image:url({{articles[10].image_url}})"></div>
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[10].uid}}">
										{{articles[10].title}}</a></div>
								</div>
							</div>
						{% endif %}

						<!-- Small Card With Background -->
						{% if calculate_length(articles) >= 12 %}
							<div class="card card_default card_small_with_background grid-item">
								<div class="card_background"
									 style="background-image:url({{articles[11].image_url}})"></div>
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[11].uid}}">
										{{articles[11].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[11].source.uid}}">
										{{articles[11].source.title}}</a><span>
										{{articles[11].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card Without Image -->
						{% if calculate_length(articles) >= 13 %}
							<div class="card card_default card_small_no_image grid-item">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="articles/{{articles[12].uid}}">
										{{articles[12].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[12].source.uid}}">
										{{articles[12].source.title}}</a><span>
										{{articles[12].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card Without Image -->
						{% if calculate_length(articles) >= 14 %}
							<div class="card card_default card_small_no_image grid-item">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="articles/{{articles[13].uid}}">
										{{articles[13].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[13].source.uid}}">
										{{articles[13].source.title}}</a><span>
										{{articles[13].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card With Image -->
						{% if calculate_length(articles) >= 15 %}
							<div class="card card_small_with_image grid-item">
								<img class="card-img-top"
									 src="{{articles[14].image_url}}" alt="">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[14].uid}}">
										{{articles[14].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[14].source.uid}}">
										{{articles[14].source.title}}</a><span>
										{{articles[14].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card With Image -->
						{% if calculate_length(articles) >= 16 %}
							<div class="card card_small_with_image grid-item">
								<img class="card-img-top"
									 src="{{articles[15].image_url}}" alt="">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[15].uid}}">
										{{articles[15].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[15].source.uid}}">
										{{articles[15].source.title}}</a><span>
										{{articles[15].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card Without Image -->
						{% if calculate_length(articles) >= 17 %}
							<div class="card card_default card_small_no_image grid-item">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="articles/{{articles[16].uid}}">
										{{articles[16].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[16].source.uid}}">
										{{articles[16].source.title}}</a><span>
										{{articles[16].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card With Image -->
						{% if calculate_length(articles) >= 18 %}
							<div class="card card_small_with_image grid-item">
								<img class="card-img-top"
									 src="{{articles[17].image_url}}" alt="">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[17].uid}}">
										{{articles[17].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[17].source.uid}}">
										{{articles[17].source.title}}</a><span>
										{{articles[17].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card With Background -->
						{% if calculate_length(articles) >= 19 %}
							<div class="card card_default card_small_with_background grid-item">
								<div class="card_background"
									 style="background-image:url({{articles[18].image_url}})"></div>
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[18].uid}}">
										{{articles[18].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[18].source.uid}}">
										{{articles[18].source.title}}</a><span>
										{{articles[18].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card With Background -->
						{% if calculate_length(articles) >= 20 %}
							<div class="card card_default card_small_with_background grid-item">
								<div class="card_background"
									 style="background-image:url({{articles[19].image_url}})"></div>
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[19].uid}}">
										{{articles[19].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[19].source.uid}}">
										{{articles[19].source.title}}</a><span>
										{{articles[19].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card With Image -->
						{% if calculate_length(articles) >= 21 %}
							<div class="card card_small_with_image grid-item">
								<img class="card-img-top"
									 src="{{articles[20].image_url}}" alt="">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[20].uid}}">
										{{articles[20].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[20].source.uid}}">
										{{articles[20].source.title}}</a><span>
										{{articles[20].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card Without Image -->
						{% if calculate_length(articles) >= 22 %}
							<div class="card card_default card_small_no_image grid-item">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="articles/{{articles[21].uid}}">
										{{articles[21].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[21].source.uid}}">
										{{articles[21].source.title}}</a><span>
										{{articles[21].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Small Card Without Image -->
						{% if calculate_length(articles) >= 23 %}
							<div class="card card_default card_small_no_image grid-item">
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="articles/{{articles[22].uid}}">
										{{articles[22].title}}</a></div>
									<small class="post_meta"><a
											href="/sources/{{articles[22].source.uid}}">
										{{articles[22].source.title}}</a><span>
										{{articles[22].created_at
										|format_date}}</span></small>
								</div>
							</div>
						{% endif %}

						<!-- Default Card With Background -->
						{% if calculate_length(articles) >= 24 %}
							<div class="card card_default card_default_with_background grid-item">
								<div class="card_background"
									 style="background-image:url({{articles[23].image_url}})"></div>
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[23].uid}}">
										{{articles[23].title}}</a></div>
								</div>
							</div>
						{% endif %}

						<!-- Default Card With Background -->
						{% if calculate_length(articles) >= 25 %}
							<div class="card card_default card_default_with_background grid-item">
								<div class="card_background"
									 style="background-image:url({{articles[24].image_url}})"></div>
								<div class="card-body">
									<div class="card-title card-title-small"><a
											href="/articles/{{articles[24].uid}}">
										{{articles[24].title}}</a></div>
								</div>
							</div>
						{% endif %}

				</div>
				</div>
			</div>
		</div>

		<div class="load_more">
			<div id="load_more" class="load_more_button text-center trans_200">Load More</div>
		</div>

	</div>
{% endblock %}

{% block scripts %}
	<script src="/static/templates/plugins/parallax-js-master/parallax.min.js"></script>
	<script src="/static/templates/js/category.js"></script>
{% endblock %}