{% extends 'layout.html' %}

{% block title %}
	{{ site_name }}
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/static/templates/styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="/static/templates/styles/responsive.css">
{% endblock %}

{% block home %}
	<div class="home">

	<!-- Home Slider -->

	<div class="home_slider_container">
		<div class="owl-carousel owl-theme home_slider">

			<!-- Slider Item -->
			{% for article in headlines %}
				<div class="owl-item">
					<div class="home_slider_background"
						 style="background-image:url({{ article.image_url }})"></div>

					<div class="home_slider_content_container">
						<div class="container">
							<div class="row">
								<div class="col">
									<div class="home_slider_content">
										<div class="home_slider_item_category trans_200"><a href="/sections/{{article.section.uid}}" class="trans_200">{{article.section.name}}</a></div>
										<div class="home_slider_item_title">
											<a href="/articles/{{article.uid}}">
												{{ article.title }} </a>
										</div>
										<div class="home_slider_item_link">
											<a href="/articles/{{article.uid}}" class="trans_200">Continue Reading
												<svg version="1.1" id="link_arrow_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
													 width="19px" height="13px" viewBox="0 0 19 13" enable-background="new 0 0 19 13" xml:space="preserve">
													<polygon fill="#FFFFFF" points="12.475,0 11.061,0 17.081,6.021 0,6.021 0,7.021 17.038,7.021 11.06,13 12.474,13 18.974,6.5 "/>
												</svg>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Similar Posts -->
					<div class="similar_posts_container">
						<div class="container">
							<div class="row d-flex flex-row align-items-end">

								<!-- Similar Post -->
								{% for similar_post in
								article.similar_posts %}
									<div class="col-lg-3 col-md-6 similar_post_col">
										<div class="similar_post trans_200">
											<a href="/articles/{{similar_post.uid}}">
												{{similar_post.title}}</a>
										</div>
									</div>
								{% endfor %}

							</div>
						</div>

						{% if find_next_article(headlines, article) %}
							<div class="home_slider_next_container">
								<div class="home_slider_next"
									 style="background-image:url({{ find_next_article(headlines, article).image_url }})">
									<div class="home_slider_next_background trans_400"></div>
									<div class="home_slider_next_content trans_400">
										<div class="home_slider_next_title">next</div>
										<div class="home_slider_next_link">{{ find_next_article(headlines, article).title }}
										</div>
									</div>
								</div>
							</div>
						{% endif %}

					</div>
				</div>
			{% endfor %}

		</div>

		<div class="custom_nav_container home_slider_nav_container">
			<div class="custom_prev custom_prev_home_slider">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
					<polyline fill="#FFFFFF" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
				</svg>
			</div>
			<ul id="custom_dots" class="custom_dots custom_dots_home_slider">
				<li class="custom_dot custom_dot_home_slider active"><span></span></li>
				<li class="custom_dot custom_dot_home_slider"><span></span></li>
				<li class="custom_dot custom_dot_home_slider"><span></span></li>
			</ul>
			<div class="custom_next custom_next_home_slider">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
					 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
					<polyline fill="#FFFFFF" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
				</svg>
			</div>
		</div>

	</div>
</div>
{% endblock %}


{% block content %}
	<div class="col-lg-9">
		<div class="main_content">

			<!-- Blog Section - Don't Miss -->

			<div class="blog_section">
				<div class="section_panel d-flex flex-row align-items-center justify-content-start">
					<div class="section_title">Sections</div>
					<div class="section_tags ml-auto">
						<ul>
							<li class="active"><a href="/">all
							</a></li>
							{% for section in sections[:5] %}
								<li><a href="/sections/{{section.uid}}">
									{{ section.name }}</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="section_panel_more">
						<ul>
							<li>all
								<ul>
									{% for section in sections[5:] %}
										<li><a
												href="/sections/{{section.uid}}">{{ section.name }}</a></li>
									{% endfor %}
									{% for section in sections[:5] %}
										<li><a
												href="/sections/{{section.uid}}">{{ section.name }}</a></li>
									{% endfor %}
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="section_content">
					<div class="grid clearfix">

						<!-- Largest Card With Image -->
						<div class="card card_largest_with_image grid-item">
							<img class="card-img-top"
								 src="{{ compilation[0].image_url }}" alt="">
							<div class="card-body">
								<div class="card-title"><a
										href="/articles/{{compilation[0].uid}}">{{
									compilation[0].title }}</a></div>
								<p class="card-text">{{
									compilation[0].body[:240]}}...</p>
								<small class="post_meta"><a
										href="/sources/{{ compilation[0].source.uid }}">{{compilation[0].source.title}}
								</a><span>{{compilation[0].created_at | format_date }}</span></small>
							</div>
						</div>

						<!-- Small Card Without Image -->
						<div class="card card_default card_small_no_image grid-item">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="/articles/{{ compilation[1].uid }}">{{ compilation[1].title }}</a></div>
								<small class="post_meta"><a
										href="/sources/{{compilation[1].source.uid}}">{{compilation[1].source.title}}
								</a><span>{{compilation[1].created_at | format_date}}</span></small>
							</div>
						</div>

						<!-- Small Card With Background -->
						<div
								class="card card_small_with_image grid-item">
							<img class="card-img-top"
								 src="{{ compilation[2].image_url }}"
								 alt="">
							<div class="card-body">
								<div class="card-title card-title-small"><a
										href="/articles/{{ compilation[2].uid }}">{{ compilation[2].title }}</a></div>
								<small class="post_meta"><a
										href="/sources/{{compilation[2].source.uid}}">{{compilation[2].source.title}}
								</a><span>{{
									compilation[2].created_at | format_date
									}}</span></small>
							</div>
						</div>

						<!-- Small Card With Image -->
						<div class="card card_small_with_image grid-item">
							<img class="card-img-top"
								 src="{{ compilation[3].image_url }}"
								 alt="">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="/articles/{{ compilation[3].uid }}">{{ compilation[3].title }}</a></div>
								<small class="post_meta"><a
										href="/sources/{{compilation[3].source.uid}}">{{
									compilation[3].source.title
									}}</a><span>{{
									compilation[3].created_at | format_date }}</span></small>
							</div>
						</div>

						<!-- Default Card No Image -->
						<div class="card card_default card_default_no_image grid-item">
							<div class="card-body">
								<div class="card-title card-title-small"><a
										href="/articles/{{compilation[4].uid}}">{{ compilation[4].title }}</a></div>
							</div>
						</div>

						<!-- Default Card No Image -->
						<div class="card card_default card_default_no_image grid-item">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="/articles/{{compilation[5].uid}}">{{ compilation[5].title }}</a></div>
							</div>
						</div>

						<!-- Default Card No Image -->
						<div class="card card_default card_default_no_image grid-item">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="/articles/{{compilation[6].uid}}">{{ compilation[6].title }}</a></div>
							</div>
						</div>

						<!-- Default Card No Image -->
						<div class="card card_default card_default_no_image grid-item">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="/articles/{{compilation[7].uid}}">{{ compilation[7].title }}</a></div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<!-- Blog Section - What's Trending -->

			<div class="blog_section">
				<div class="section_panel d-flex flex-row align-items-center justify-content-start">
					<div class="section_title">Channels</div>
					<div class="section_tags ml-auto">
						<ul>
							<li class="active"><a
									href="/sources/{{sources[0].uid}}">{{
								sources[0].title }}</a></li>

							{% for source in sources[1:5] %}
								<li><a
										href="/sources/{{source.uid}}">{{
									source.title}}
								</a></li>
							{% endfor %}
						</ul>
					</div>
					<div class="section_panel_more">
						<ul>
							<li>all
								<ul>
									{% for source in sources[5:] %}
										<li><a href="/sources/{{source.uid}}">{{source.title}}</a></li>
									{% endfor %}

									{% for source in sources[:5] %}
										<li><a href="/sources/{{source.uid}}">{{source.title}}</a></li>
									{% endfor %}
								</ul>
							</li>
						</ul>
					</div>
				</div>
				<div class="section_content">
					<div class="grid clearfix">

						<!-- Large Card With Image -->
						<div class="card grid-item card_large_with_image">
							<img class="card-img-top"
								 src="{{sources[0].articles.headlines[0].image_url}}"
								 alt="">
							<div class="card-body">
								<div class="card-title"><a
										href="/articles/{{sources[0].articles.headlines[0].uid}}">
									{{sources[0].articles.headlines[0].title}}</a></div>
								<p class="card-text">{{sources[0]
									.articles.headlines[0].body[:240]}}...</p>
								<small class="post_meta"><a
										href="/sources/{{sources[0].articles.headlines[0].source.uid}}">{{sources[0].articles.headlines[0].source.title}}</a><span>{{sources[0]
									.articles.headlines[0]
									.created_at | format_date}}</span></small>
							</div>
						</div>

						<!-- Default Card With Image -->
						{% for article in
						sources[0].articles.regular[3:] %}
							<div class="card card_small_with_image grid-item">
								<img class="card-img-top"
									 src="{{article.image_url}}"
									 alt="">
								<div class="card-body">
									<div
											class="card-title card-title-small"><a href="/articles/{{article.uid}}">{{article.title}}</a></div>
									<small class="post_meta"><a
											href="articles/{{article.uid}}">
										{{article.source.name}}</a><span>{{article.created_at | format_date}}</span></small>
								</div>
							</div>
						{% endfor %}

						{% for article in
						sources[0].articles.regular[:3] %}
							<!-- Default Card No Image -->
							<div class="card card_default card_default_no_image grid-item">
								<div class="card-body">
									<div class="card-title card-title-small"><a href="/articles/{{article.uid}}">{{article.title}}</a></div>
								</div>
							</div>
						{% endfor %}
					</div>

				</div>
			</div>


			<!-- Blog Section - Videos -->

			<div class="blog_section">
				<div class="section_panel d-flex flex-row align-items-center justify-content-start">
					<div class="section_title">Video Feeds</div>
				</div>
				<div class="section_content">
					<div class="row">
						<div class="col">
							<div class="videos">
								<div class="player_container">
									<div id="P1" class="player"
										 data-property="{videoURL:'{{video_feeds[0].id}}',containment:'self',startAt:0,mute:false,autoPlay:false,loop:false,opacity:1}">
									</div>
								</div>

								<div class="playlist">
									<div class="playlist_background"></div>

									{% for video in video_feeds[1:4] %}
										<!-- Video -->
										<div class="video_container video_command active" onclick="jQuery('#P1').YTPChangeVideo({videoURL: '{{video.id}}', mute:false, addRaster:true})">
											<div class="video d-flex flex-row align-items-center justify-content-start">
												<div class="video_image"><div><img src="{{video.thumbnail}}" alt=""></div><img class="play_img" src="/static/templates/images/play.png" alt=""></div>
												<div class="video_content">
													<div class="video_title">{{ video.title }}</div>
													<div
															class="video_info"><span>{{video.date | format_date}}</span></div>
												</div>
											</div>
										</div>
									{% endfor %}

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Blog Section - Latest -->

			<div class="blog_section" hidden="true">
				<div class="section_panel d-flex flex-row align-items-center justify-content-start">
					<div class="section_title">Latest Articles</div>
				</div>
				<div class="section_content">
					<div class="grid clearfix">

						<!-- Small Card With Image -->
						<div class="card card_small_with_image grid-item">
							<img class="card-img-top" src="/static/templates/images/post_10.jpg" alt="">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
								<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
							</div>
						</div>

						<!-- Small Card Without Image -->
						<div class="card card_default card_small_no_image grid-item">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
								<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
							</div>
						</div>

						<!-- Small Card With Image -->
						<div class="card card_small_with_image grid-item">
							<img class="card-img-top" src="/static/templates/images/post_15.jpg" alt="">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
								<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
							</div>
						</div>

						<!-- Small Card With Image -->
						<div class="card card_small_with_image grid-item">
							<img class="card-img-top" src="/static/templates/images/post_13.jpg" alt="https://unsplash.com/@jakobowens1">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
								<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
							</div>
						</div>

						<!-- Small Card With Background -->
						<div class="card card_default card_small_with_background grid-item">
							<div class="card_background" style="background-image:url(images/post_11.jpg)"></div>
							<div class="card-body">
								<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
								<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
							</div>
						</div>

						<!-- Small Card With Background -->
						<div class="card card_default card_small_with_background grid-item">
							<div class="card_background" style="background-image:url(images/post_16.jpg)"></div>
							<div class="card-body">
								<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
								<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
							</div>
						</div>

						<!-- Small Card With Image -->
						<div class="card card_small_with_image grid-item">
							<img class="card-img-top" src="/static/templates/images/post_14.jpg" alt="">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
								<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
							</div>
						</div>

						<!-- Small Card Without Image -->
						<div class="card card_default card_small_no_image grid-item">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
								<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
							</div>
						</div>

						<!-- Small Card Without Image -->
						<div class="card card_default card_small_no_image grid-item">
							<div class="card-body">
								<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</a></div>
								<small class="post_meta"><a href="#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
							</div>
						</div>

						<!-- Default Card With Background -->
						<div class="card card_default card_default_with_background grid-item">
							<div class="card_background" style="background-image:url(images/post_12.jpg)"></div>
							<div class="card-body">
								<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most</a></div>
							</div>
						</div>

						<!-- Default Card With Background -->
						<div class="card card_default card_default_with_background grid-item">
							<div class="card_background" style="background-image:url(images/post_6.jpg)"></div>
							<div class="card-body">
								<div class="card-title card-title-small"><a href="post.html">How Did van Gogh’s Turbulent Mind Depict One of the Most</a></div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>
		<div class="load_more">
			<div id="load_more" class="load_more_button text-center trans_200">Load More</div>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script src="/static/templates/plugins/masonry/images_loaded.js"></script>
	<script src="/static/templates/js/custom.js"></script>
	<script src="/static/templates/plugins/jquery.mb.YTPlayer-3.1.12/jquery.mb.YTPlayer.js"></script>
{% endblock %}