<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %} {% endblock %}</title>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="{{ site_description }}">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css"
			  href="/static/templates/styles/bootstrap4/bootstrap.min.css">
		<link href="/static/templates/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css"
			  href="/static/templates/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
		<link rel="stylesheet" type="text/css"
			  href="/static/templates/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
		<link rel="stylesheet" type="text/css"
			  href="/static/templates/plugins/OwlCarousel2-2.2.1/animate.css">
		<link rel="stylesheet" type="text/css"
			  href="/static/templates/plugins/jquery.mb.YTPlayer-3.1.12/jquery.mb.YTPlayer.css">

		<link rel="icon" href="/static/templates/img/core-img/favicon.ico">

		{% block style %}
		{% endblock %}
	</head>

	<body>
        {% macro render_nav_bar_items(active_page) %}
            <ul>
                {% for url, name in navigation.items() %}
                    {% if name == active_page | capitalize %}
                        <li class="active"><a href="{{url}}">{{ name }}</a></li>
                    {% else %}
                        <li class="inactive"><a href="{{url}}">{{ name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endmacro %}

        {% macro render_menu_bar_items(active_page) %}
            <ul>
                {% for url, name in navigation.items() %}
                    {% if name == active_page | capitalize %}
                        <li class="menu_mm"><a href="{{url}}">{{ name }}</a></li>
                    {% else %}
                        <li class="menu_mm"><a href="{{url}}">{{ name }}</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endmacro %}



		<div class="super_container">

			<!-- Header -->

			<header class="header">
				<div class="container">
					<div class="row">
						<div class="col">
							<div class="header_content d-flex flex-row align-items-center justify-content-start">
								<div class="logo"><a href="/">{{ site_name }}</a></div>
								<nav class="main_nav">
                                    {{ render_nav_bar_items(active_page) }}
								</nav>
								<div class="search_container ml-auto">
									<div class="weather">
										<div class="temperature">{{weather_data.main.temp}}°C ({{weather_data.weather[0].description | titleize}}) in {{ reader_location.city }}</div>
										<img class="weather_icon"
											 src="/static/templates/images/cloud.png" alt="">
									</div>
									<form action="#" hidden="true">
										<input type="search" class="header_search_input" required="required" placeholder="Type to Search...">
										<img class="header_search_icon"
											 src="/static/templates/images/search.png" alt="">
									</form>

								</div>
								<div class="hamburger ml-auto menu_mm">
									<i class="fa fa-bars trans_200 menu_mm" aria-hidden="true"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<!-- Menu -->
            <div class="menu d-flex flex-column align-items-end justify-content-start text-right menu_mm trans_400">
				<div class="menu_close_container">
			   	    <div class="menu_close">
					    <div></div>
					    <div></div>
				    </div>
				</div>
				<div class="logo menu_mm"><a href="#">{{site_name}}</a></div>
                <div class="weather">
                    <div class="temperature">
                    </div>
                    <img class="weather_icon"
                         src="/static/templates/images/cloud.png" alt="">
                </div>
				<div class="search" hidden="true">
                    <form action="#"> <input
                            class="header_search_input menu_mm"
                            required="required"
                            placeholder="Type to Search..." type="search"> <img class="header_search_icon menu_mm" src="images/search_2.png" alt=""> </form>
				</div>
				<nav class="menu_nav">
                    {{ render_menu_bar_items(active_page) }}
                </nav>
            </div>

			{% block home %}
			{% endblock %}

			<!-- Page Content -->

			<div class="page_content">
				<div class="container">
					<div class="row row-lg-eq-height">

						<!-- Main Content -->
						{% block content %}
						{% endblock %}


						<!-- Sidebar -->
						<div class="col-lg-3">
				<div class="sidebar">
					<div class="sidebar_background"></div>

					<!-- Top Stories -->

					<div class="sidebar_section" >
						<div class="sidebar_title_container">
							<div class="sidebar_title">Top Stories</div>
							<div class="sidebar_slider_nav">
								<div class="custom_nav_container sidebar_slider_nav_container">
									<div class="custom_prev custom_prev_top">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
											<polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
										</svg>
									</div>
									<ul id="custom_dots" class="custom_dots custom_dots_top">
										<li class="custom_dot custom_dot_top active"><span></span></li>
										<li class="custom_dot custom_dot_top"><span></span></li>
										<li class="custom_dot custom_dot_top"><span></span></li>
									</ul>
									<div class="custom_next custom_next_top">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
											<polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
										</svg>
									</div>
								</div>
							</div>
						</div>
						<div class="sidebar_section_content">

							<!-- Top Stories Slider -->
							<div class="sidebar_slider_container">
								<div class="owl-carousel owl-theme sidebar_slider_top">

									<!-- Top Stories Slider Item -->
									<div class="owl-item">

										{% for article in top_stories[:4] %}
											<!-- Sidebar Post -->
											<div class="side_post">
												<a href="/articles/{{article.uid}}">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="side_post_image"><div><img src="{{article.image_url}}" alt=""></div></div>
														<div class="side_post_content">
															<div class="side_post_title">{{article.title}}</div>
															<small class="post_meta">{{article.source.title}}<span>{{article.created_at | format_date }}</span></small>
														</div>
													</div>
												</a>
											</div>
										{% endfor %}
									</div>

									<!-- Top Stories Slider Item -->
									<div class="owl-item">

										{% for article in top_stories[4:8] %}
											<!-- Sidebar Post -->
											<div class="side_post">
												<a href="/articles/{{article.uid}}">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="side_post_image"><div><img src="{{article.image_url}}" alt=""></div></div>
														<div class="side_post_content">
															<div class="side_post_title">{{article.title}}</div>
															<small class="post_meta">{{article.source.title}}<span>{{article.created_at | format_date }}</span></small>
														</div>
													</div>
												</a>
											</div>
										{% endfor %}

									</div>

									<!-- Top Stories Slider Item -->
									<div class="owl-item">
										{% for article in top_stories[8:12] %}
											<!-- Sidebar Post -->
											<div class="side_post">
												<a href="/articles/{{article.uid}}">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="side_post_image"><div><img src="{{article.image_url}}" alt=""></div></div>
														<div class="side_post_content">
															<div class="side_post_title">{{article.title}}</div>
															<small class="post_meta">{{article.source.title}}<span>{{article.created_at | format_date }}</span></small>
														</div>
													</div>
												</a>
											</div>
										{% endfor %}
									</div>

								</div>
							</div>
						</div>
					</div>

					<!-- Advertising -->

					<div class="sidebar_section" hidden="true">
						<div class="advertising">
							<div class="advertising_background" style="background-image:url(images/post_17.jpg)"></div>
							<div class="advertising_content d-flex flex-column align-items-start justify-content-end">
								<div class="advertising_perc">-15%</div>
								<div class="advertising_link"><a href="#">How Did van Gogh’s Turbulent Mind</a></div>
							</div>
						</div>
					</div>

					<!-- Newest Videos -->

					<div class="sidebar_section newest_videos">
						<div class="sidebar_title_container">
							<div class="sidebar_title">Popular Videos</div>
							<div class="sidebar_slider_nav">
								<div class="custom_nav_container sidebar_slider_nav_container">
									<div class="custom_prev custom_prev_vid">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
											<polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
										</svg>
									</div>
									<ul id="custom_dots" class="custom_dots custom_dots_vid">
										<li class="custom_dot custom_dot_vid active"><span></span></li>
										<li class="custom_dot custom_dot_vid"><span></span></li>
										<li class="custom_dot custom_dot_vid"><span></span></li>
									</ul>
									<div class="custom_next custom_next_vid">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
											<polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
										</svg>
									</div>
								</div>
							</div>
						</div>

						<div class="sidebar_section_content">

							<!-- Sidebar Slider -->
							<div class="sidebar_slider_container">
								<div class="owl-carousel owl-theme sidebar_slider_vid">

									<!-- Newest Videos Slider Item -->
									<div class="owl-item">

										<!-- Newest Videos Post -->
										{% for video in popular_videos[:4] %}
											<div class="side_post">
												<a href="http://www.youtube.com/watch?v={{video.video_uid}}">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="side_post_image"><div><img src="{{video.thumbnail_url}}" alt=""></div></div>
														<div class="side_post_content">
															<div class="side_post_title">{{video.title}}</div>
															<small class="post_meta">{{video.channel_name}}<span>Sep 29</span></small>
														</div>
													</div>
												</a>
											</div>
										{% endfor %}

									</div>

									<!-- Newest Videos Slider Item -->
									<div class="owl-item">

										<!-- Newest Videos Post -->
										{% for video in popular_videos[4:8] %}
											<div class="side_post">
												<a href="http://www.youtube.com/watch?v={{video.video_uid}}">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="side_post_image"><div><img src="{{video.thumbnail_url}}" alt=""></div></div>
														<div class="side_post_content">
															<div class="side_post_title">{{video.title}}</div>
															<small class="post_meta">{{video.channel_name}}<span>Sep 29</span></small>
														</div>
													</div>
												</a>
											</div>
										{% endfor %}

									</div>

									<!-- Newest Videos Slider Item -->
									<div class="owl-item">

										<!-- Newest Videos Post -->
										{% for video in popular_videos[8:12] %}
											<div class="side_post">
												<a
														href="http://www.youtube.com/watch?v={{video.video_uid}}">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="side_post_image"><div><img src="{{video.thumbnail_url}}" alt=""></div></div>
														<div class="side_post_content">
															<div class="side_post_title">{{video.title}}</div>
															<small class="post_meta">{{video.channel_name}}<span>Sep 29</span></small>
														</div>
													</div>
												</a>
											</div>
										{% endfor %}

									</div>

								</div>
							</div>
						</div>
					</div>

					<!-- Advertising 2 -->

					<div class="sidebar_section">
						<div class="advertising_2">
							<div class="advertising_background"
								 style="background-image:url(/static/templates/images/post_18.jpg)"></div>
							<div class="advertising_2_content d-flex flex-column align-items-center justify-content-center">
								<div class="advertising_2_link"><a href="#">Turbulent <span>Mind</span></a></div>
							</div>
						</div>
					</div>

					<!-- Future Events -->

					<div class="sidebar_section future_events">
						<div class="sidebar_title_container">
							<div class="sidebar_title">Events in
								{{ reader_location.city }}</div>
							<div class="sidebar_slider_nav">
								<div class="custom_nav_container sidebar_slider_nav_container">
									<div class="custom_prev custom_prev_events">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
											<polyline fill="#bebebe" points="0,5.61 5.609,0 7,0 7,1.438 2.438,6 7,10.563 7,12 5.609,12 -0.002,6.39 "/>
										</svg>
									</div>
									<ul id="custom_dots" class="custom_dots custom_dots_events">
										<li class="custom_dot custom_dot_events active"><span></span></li>
										<li class="custom_dot custom_dot_events"><span></span></li>
										<li class="custom_dot custom_dot_events"><span></span></li>
									</ul>
									<div class="custom_next custom_next_events">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
											 width="7px" height="12px" viewBox="0 0 7 12" enable-background="new 0 0 7 12" xml:space="preserve">
											<polyline fill="#bebebe" points="6.998,6.39 1.389,12 -0.002,12 -0.002,10.562 4.561,6 -0.002,1.438 -0.002,0 1.389,0 7,5.61 "/>
										</svg>
									</div>
								</div>
							</div>
						</div>
						<div class="sidebar_section_content">

							<!-- Sidebar Slider -->
							<div class="sidebar_slider_container">
								<div class="owl-carousel owl-theme sidebar_slider_events">

									<!-- Future Events Slider Item -->
									<div class="owl-item">

										<!-- Future Events Post -->
										{% for event in events[:5] %}
											<div class="side_post">
												<a href="{{event.url}}">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="event_date d-flex flex-column align-items-center justify-content-center">
															<div class="event_day">{{event.start_date.day}}</div>
															<div class="event_month">{{event.start_date.month[:3]}}</div>
														</div>

														<div class="side_post_content">
															<div class="side_post_title">{{event.name.text}}</div>
															<small class="post_meta"><span>{{event.start_date.day}} {{event.start_date.month}}</span></small>
														</div>
													</div>
												</a>
											</div>
										{% endfor %}

									</div>

									<!-- Future Events Slider Item -->
									<div class="owl-item">

										<!-- Future Events Post -->
										{% for event in events[5:10] %}
											<div class="side_post">
												<a href="{{event.url}}">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="event_date d-flex flex-column align-items-center justify-content-center">
															<div class="event_day">{{event.start_date.day}}</div>
															<div class="event_month">{{event.start_date.month[:3]}}</div>
														</div>

														<div class="side_post_content">
															<div class="side_post_title">{{event.name.text}}</div>
															<small class="post_meta"><span>{{event.start_date.day}} {{event.start_date.month}}</span></small>
														</div>
													</div>
												</a>
											</div>
										{% endfor %}

									</div>

									<!-- Future Events Slider Item -->
									<div class="owl-item">
										{% for event in events[10:15] %}
											<div class="side_post">
												<a href="{{event.url}}">
													<div class="d-flex flex-row align-items-xl-center align-items-start justify-content-start">
														<div class="event_date d-flex flex-column align-items-center justify-content-center">
															<div class="event_day">{{event.start_date.day}}</div>
															<div class="event_month">{{event.start_date.month[:3]}}</div>
														</div>

														<div class="side_post_content">
															<div class="side_post_title">{{event.name.text}}</div>
															<small class="post_meta"><span>{{event.start_date.day}} {{event.start_date.month}}</span></small>
														</div>
													</div>
												</a>
											</div>
										{% endfor %}

									</div>

								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
					</div>
				</div>
			</div>

			<!-- Footer -->

			<footer class="footer">
				<div class="container">
					<div class="row row-lg-eq-height">
						<div class="col-lg-9 order-lg-1 order-2">
							<div class="footer_content">
								<div
										class="footer_logo"><a href="/">{{site_name}}
								</a></div>
								<div class="footer_social">
									<ul>
										<li class="footer_social_facebook"><a
												href="/social-media?network=facebook"><i
												class="fa fa-facebook" aria-hidden="true"></i></a></li>
										<li class="footer_social_twitter"><a
												href="/social-media?network=twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
										<li class="footer_social_instagram"><a
												href="/social-media?network=instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
									</ul>
								</div>
								<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
		Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
		<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
							</div>
						</div>
						<div class="col-lg-3 order-lg-2 order-1">
							<div class="subscribe">
								<div class="subscribe_background"></div>
								<div class="subscribe_content">
									<div class="subscribe_title">Subscribe</div>
									<form action="/subscribe">
										<input type="email" class="sub_input" placeholder="Your Email" required="required">
										<button class="sub_button">
											<svg version="1.1" id="link_arrow_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
												 width="19px" height="13px" viewBox="0 0 19 13" enable-background="new 0 0 19 13" xml:space="preserve">
												<polygon fill="#FFFFFF" points="12.475,0 11.061,0 17.081,6.021 0,6.021 0,7.021 17.038,7.021 11.06,13 12.474,13 18.974,6.5 "/>
											</svg>
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

		<script src="/static/templates/js/jquery-3.2.1.min.js"></script>
		<script src="/static/templates/styles/bootstrap4/popper.js"></script>
		<script src="/static/templates/styles/bootstrap4/bootstrap.min.js"></script>
		<script src="/static/templates/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
		<script src="/static/templates/plugins/easing/easing.js"></script>
		<script src="/static/templates/plugins/masonry/masonry.js"></script>
		{% block scripts %}
		{% endblock %}
	</body>

</html>