{% extends 'layout.html' %}

{% block title %}
	{{ article.title }}
{% endblock %}

{% block style %}
	<link rel="stylesheet" type="text/css" href="/static/templates/styles/post.css">
	<link rel="stylesheet" type="text/css" href="/static/templates/styles/post_responsive.css">
{% endblock %}

{% block home %}
	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll"
			 data-image-src="{{article.image_url}}" data-speed="0.8"></div>

		<div class="home_content">
			<div class="post_category trans_200"><a
					href="/sections/{{ article.section.id }}" class="trans_200">
				{{ article.section.name }}</a></div>
			<div class="post_title">{{ article.title }}</div>
		</div>
	</div>
{% endblock %}

	<!-- Page Content -->
{% block content %}
	<div class="col-lg-9">
		<div class="post_content">

			<!-- Top Panel -->
			<div class="post_panel post_panel_top d-flex flex-row align-items-center justify-content-start">
				<!--<div class="author_image"><div><img src="/static/templates/images/author.jpg" alt=""></div></div>-->
				<div class="post_meta">
					<a href="/static/templates/#">
						{{ article.source.title }}
					</a><span>{{ article.created_at }}</span></div>
				<div class="post_share ml-sm-auto">
					<span>share</span>
					<ul class="post_share_list">
						<li class="post_share_item"><a href="/static/templates/#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="post_share_item"><a href="/static/templates/#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="post_share_item"><a href="/static/templates/#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>

			<!-- Post Body -->

			<div class="post_body">
				<p class="post_p">
					{{ article.body }}
				</p>

				<!-- Post Tags -->
				<div class="post_tags">
					<ul>
						<li class="post_tag"><a href="/static/templates/#">Liberty</a></li>
						<li class="post_tag"><a href="/static/templates/#">Manual</a></li>
						<li class="post_tag"><a href="/static/templates/#">Interpretation</a></li>
						<li class="post_tag"><a href="/static/templates/#">Recommendation</a></li>
					</ul>
				</div>
			</div>

			<!-- Bottom Panel -->
			<div class="post_panel bottom_panel d-flex flex-row align-items-center justify-content-start">
				<!--<div class="author_image"><div><img src="/static/templates/images/author.jpg" alt=""></div></div>-->
				<div class="post_meta"><a
						href="/static/templates/#">
					{{ article.source.title }}
				</a><span>{{ article.created_at }}</span></div>
				<div class="post_share ml-sm-auto">
					<span>share</span>
					<ul class="post_share_list">
						<li class="post_share_item"><a href="/static/templates/#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="post_share_item"><a href="/static/templates/#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="post_share_item"><a href="/static/templates/#"><i class="fa fa-google" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>

			<!-- Similar Posts -->
			<div class="similar_posts">
				<div class="grid clearfix">

					<!-- Small Card With Image -->
					{% for article in similar_articles[:3] %}
						<div class="card card_small_with_image grid-item">
							<img class="card-img-top"
								 src="{{ article.image_url }}"
								 alt="">
							<div class="card-body">
								<div class="card-title card-title-small">
									<a href="/articles/{{article.uid}}">{{ article.title }}</a></div>
								<small class="post_meta"><a href="/articles/{{article.uid}}">{{ article.source.title }}</a><span>{{ article.created_at }}</span></small>
							</div>
						</div>
					{% endfor %}
				</div>

				<!-- Post Comment -->
				<div class="post_comment" hidden="true">
					<div class="post_comment_title">Post Comment</div>
					<div class="row">
						<div class="col-xl-8">
							<div class="post_comment_form_container">
								<form action="#">
									<input type="text" class="comment_input comment_input_name" placeholder="Your Name" required="required">
									<input type="email" class="comment_input comment_input_email" placeholder="Your Email" required="required">
									<textarea class="comment_text" placeholder="Your Comment" required="required"></textarea>
									<button type="submit" class="comment_button">Post Comment</button>
								</form>
							</div>
						</div>
					</div>
				</div>

				<!-- Comments -->
				<div class="comments" hidden="true">
					<div class="comments_title">Comments <span>(12)</span></div>
					<div class="row">
						<div class="col-xl-8">
							<div class="comments_container">
								<ul class="comment_list">
									<li class="comment">
										<div class="comment_body">
											<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
												<div class="comment_author_image"><div><img src="/static/templates/images/comment_author_1.jpg" alt=""></div></div>
												<small class="post_meta"><a href="/static/templates/#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
												<button type="button" class="reply_button ml-auto">Reply</button>
											</div>
											<div class="comment_content">
												<p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened.</p>
											</div>
										</div>

										<!-- Reply -->
										<ul class="comment_list">
											<li class="comment">
												<div class="comment_body">
													<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
														<div class="comment_author_image"><div><img src="/static/templates/images/comment_author_2.jpg" alt=""></div></div>
														<small class="post_meta"><a href="/static/templates/#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
														<button type="button" class="reply_button ml-auto">Reply</button>
													</div>
													<div class="comment_content">
														<p>Nulla facilisi. Aenean porttitor quis tortor id tempus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus molestie varius tincidunt. Vestibulum congue sed libero ac sodales.</p>
													</div>
												</div>

												<!-- Reply -->
												<ul class="comment_list">

												</ul>
											</li>
										</ul>
									</li>
									<li class="comment">
										<div class="comment_body">
											<div class="comment_panel d-flex flex-row align-items-center justify-content-start">
												<div class="comment_author_image"><div><img src="/static/templates/images/comment_author_1.jpg" alt=""></div></div>
												<small class="post_meta"><a href="/static/templates/#">Katy Liu</a><span>Sep 29, 2017 at 9:48 am</span></small>
												<button type="button" class="reply_button ml-auto">Reply</button>
											</div>
											<div class="comment_content">
												<p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened.</p>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="load_more">
			<!--<div id="load_more" class="load_more_button text-center trans_200">Load More</div>-->
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script src="/static/templates/plugins/parallax-js-master/parallax.min.js"></script>
	<script src="/static/templates/js/post.js"></script>
{% endblock %}

<!--<script src="/static/templates/js/jquery-3.2.1.min.js"></script>-->
<!--<script src="/static/templates/styles/bootstrap4/popper.js"></script>-->
<!--<script src="/static/templates/styles/bootstrap4/bootstrap.min.js"></script>-->
<!--<script src="/static/templates/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>-->
<!--<script src="/static/templates/plugins/easing/easing.js"></script>-->
<!--<script src="/static/templates/plugins/masonry/masonry.js"></script>-->
<!--<script src="/static/templates/plugins/parallax-js-master/parallax.min.js"></script>-->
<!--<script src="/static/templates/js/post.js"></script>-->