<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>{{ site_name }}</title>

    <!-- Favicon  -->
    <link rel="icon" href="/static/templates/img/core-img/favicon.ico">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/static/templates/style.css">

</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="world-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-lg">
                        <!-- Logo -->
                        <a class="navbar-brand" href="/static/templates/index.html"><img src="/static/templates/img/core-img/logo.png" alt="Logo"></a>
                        <!-- Navbar Toggler -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#worldNav" aria-controls="worldNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <!-- Navbar -->
                        <div class="collapse navbar-collapse" id="worldNav">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/static/templates/#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="/static/templates/#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="/static/templates/index.html">Home</a>
                                        <a class="dropdown-item" href="/static/templates/catagory.html">Catagory</a>
                                        <a class="dropdown-item" href="/static/templates/single-blog.html">Single Blog</a>
                                        <a class="dropdown-item" href="/static/templates/regular-page.html">Regular Page</a>
                                        <a class="dropdown-item" href="/static/templates/contact.html">Contact</a>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/static/templates/#">Gadgets</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/static/templates/#">Lifestyle</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/static/templates/#">Video</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/static/templates/#">Contact</a>
                                </li>
                            </ul>
                            <!-- Search Form  -->
                            <div id="search-wrapper">
                                <form action="#">
                                    <input type="text" id="search" placeholder="Search something...">
                                    <div id="close-icon"></div>
                                    <input class="d-none" type="submit" value="">
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ********** Hero Area Start ********** -->
    <div class="hero-area height-600 bg-img background-overlay"
         style="background-image: url({{ article.image_url }});">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="single-blog-title text-center">
                        <!-- Catagory -->
                        <div class="post-cta"><a
                                href="/sources/{{article.source}}">{{article.source}}
                        </a></div>
                        <h3>{{ article.title }}</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ********** Hero Area End ********** -->

    <div class="main-content-wrapper section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- ============= Post Content Area ============= -->
                <div class="col-12 col-lg-8">
                    <div class="single-blog-content mb-100">
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <p><a href="/static/templates/#"
                                  class="post-date">
                                {{ article.created_at }}</a></p>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            {{ article.body }}
                            <!-- Post Meta -->
                            <div class="post-meta second-part">
                                <p><a href="{{ article.article_url }}"
                                      class="post-author">Read
                                    full article</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ========== Sidebar Area ========== -->
                <div class="col-12 col-md-8 col-lg-4">
                    <div class="post-sidebar-area mb-100">
                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">About {{ site_name }}</h5>
                            <div class="widget-content">
                                <p>{{ site_description }}.</p>
                            </div>
                        </div>
                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Top Stories</h5>
                            <div class="widget-content">
                                <!-- Single Blog Post -->
                                {% for article in top_headlines %}
                                    <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
                                        <!-- Post Thumbnail -->
                                        <div class="post-thumbnail">
                                            <img src="{{ article.image_url }}"
                                                 alt="">
                                        </div>
                                        <!-- Post Content -->
                                        <div class="post-content">
                                            <a href="/articles/{{ article.id }}"
                                               class="headline">
                                                <h5 class="mb-0">
                                                    {{ article.title }}</h5>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Stay Connected</h5>
                            <div class="widget-content">
                                <div class="social-area d-flex justify-content-between">
                                    <a href="/static/templates/#"><i class="fa fa-facebook"></i></a>
                                    <a href="/static/templates/#"><i class="fa fa-twitter"></i></a>
                                    <a href="/static/templates/#"><i class="fa fa-pinterest"></i></a>
                                    <a href="/static/templates/#"><i class="fa fa-vimeo"></i></a>
                                    <a href="/static/templates/#"><i class="fa fa-instagram"></i></a>
                                    <a href="/static/templates/#"><i class="fa fa-google"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Today’s Pick</h5>
                            <div class="widget-content">
                                <!-- Single Blog Post -->
                                <div class="single-blog-post todays-pick">
                                    <!-- Post Thumbnail -->
                                    <div class="post-thumbnail">
                                        <img src="/static/templates/img/blog-img/b22.jpg" alt="">
                                    </div>
                                    <!-- Post Content -->
                                    <div class="post-content px-0 pb-0">
                                        <a href="/static/templates/#" class="headline">
                                            <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ============== Related Post ============== -->
            <div class="row">
                {% for article in similar_articles %}
                    <div class="col-12 col-md-6 col-lg-4">
                        <!-- Single Blog Post -->
                        <div class="single-blog-post">
                            <!-- Post Thumbnail -->
                            <div class="post-thumbnail">
                                <img src="{{ article.image_url }}" alt="">
                                <!-- Catagory -->
                                <div class="post-cta">
                                    <a href="/sources/{{ article.source }}">
                                        {{ article.source }}</a></div>
                            </div>
                            <!-- Post Content -->
                            <div class="post-content">
                                <a href="/articles/{{ article.id }}"
                                   class="headline">
                                    <h5>{{ article.title }}</h5>
                                </a>
                                <p>{{ article.body[:240] }}</p>
                                <!-- Post Meta -->
                                <div class="post-meta">
                                    <p><a href="/dates/{{ article.created_at }}"
                                          class="post-date">
                                        {{ article.created_at }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="post-a-comment-area mt-70">
                        <h5>Get in Touch</h5>
                        <!-- Contact Form -->
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="group">
                                        <input type="text" name="name" id="name" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Enter your name</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="group">
                                        <input type="email" name="email" id="email" required>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Enter your email</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="group">
                                        <textarea name="message" id="message" required></textarea>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label>Enter your comment</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn world-btn">Post comment</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 col-lg-8">
                    <!-- Comment Area Start -->
                    <div class="comment_area clearfix mt-70">
                        <ol>
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content">
                                    <!-- Comment Meta -->
                                    <div class="comment-meta d-flex align-items-center justify-content-between">
                                        <p><a href="/static/templates/#" class="post-author">Katy Liu</a> on <a href="/static/templates/#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                                        <a href="/static/templates/#" class="comment-reply btn world-btn">Reply</a>
                                    </div>
                                    <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
                                </div>
                                <ol class="children">
                                    <li class="single_comment_area">
                                        <!-- Comment Content -->
                                        <div class="comment-content">
                                            <!-- Comment Meta -->
                                            <div class="comment-meta d-flex align-items-center justify-content-between">
                                                <p><a href="/static/templates/#" class="post-author">Katy Liu</a> on <a href="/static/templates/#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                                                <a href="/static/templates/#" class="comment-reply btn world-btn">Reply</a>
                                            </div>
                                            <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
                                        </div>
                                    </li>
                                </ol>
                            </li>
                            
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content">
                                    <!-- Comment Meta -->
                                    <div class="comment-meta d-flex align-items-center justify-content-between">
                                        <p><a href="/static/templates/#" class="post-author">Katy Liu</a> on <a href="/static/templates/#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                                        <a href="/static/templates/#" class="comment-reply btn world-btn">Reply</a>
                                    </div>
                                    <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
                                </div>
                            </li>
                            
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="footer-single-widget">
                        <a href="/static/templates/#"><img src="/static/templates/img/core-img/logo.png" alt=""></a>
                        <div class="copywrite-text mt-30">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="/static/templates/https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="footer-single-widget" hidden="true">
                        <ul class="footer-menu d-flex justify-content-between">
                            <li><a href="/static/templates/#">Home</a></li>
                            <li><a href="/static/templates/#">Fashion</a></li>
                            <li><a href="/static/templates/#">Lifestyle</a></li>
                            <li><a href="/static/templates/#">Contact</a></li>
                            <li><a href="/static/templates/#">Gadgets</a></li>
                            <li><a href="/static/templates/#">Video</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="footer-single-widget">
                        <h5>Subscribe</h5>
                        <form action="#" method="post">
                            <input type="email" name="email" id="eemail" placeholder="Enter your mail">
                            <button type="button"><i class="fa fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/static/templates/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/static/templates/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/static/templates/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/static/templates/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/static/templates/js/active.js"></script>

</body>

</html>